In [1]:
import pandas as pd
import numpy as np
import re
import io

In [2]:
df_train = pd.read_csv(r"D:\corona\06-NLP-and-Text-Data\New folder (2)\Corona_NLP_train.csv", encoding='latin1')
df_train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [3]:
df_train = df_train.iloc[:,-2:]
df_train.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [4]:
df_test = pd.read_csv(r"D:\corona\06-NLP-and-Text-Data\New folder (2)\Corona_NLP_test.csv", encoding='latin1')
df_test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [5]:
df_test = df_test.iloc[:,-2:]
df_test.head()

                                       OriginalTweet           Sentiment
0  TRENDING: New Yorkers encounter empty supermar...  Extremely Negative
1  When I couldn't find hand sanitizer at Fred Me...            Positive
2  Find out how you can protect yourself and love...  Extremely Positive
3  #Panic buying hits #NewYork City as anxious sh...            Negative
4  #toiletpaper #dunnypaper #coronavirus #coronav...             Neutral

<b>
____________________________________________________________________________________________________________________________

In [6]:
df_train.tail(1)

                                           OriginalTweet Sentiment
41156  @TartiiCat Well new/used Rift S are going for ...  Negative

In [7]:
df = pd.concat((df_train,df_test))

df.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [10]:
df['OriginalTweet'][41156:]

41156    @TartiiCat Well new/used Rift S are going for ...
0        TRENDING: New Yorkers encounter empty supermar...
1        When I couldn't find hand sanitizer at Fred Me...
2        Find out how you can protect yourself and love...
3        #Panic buying hits #NewYork City as anxious sh...
                               ...
3793     Meanwhile In A Supermarket in Israel -- People...
3794     Did you panic buy a lot of non-perishable item...
3795     Asst Prof of Economics @cconces was on @NBCPhi...
3796     Gov need to do somethings instead of biar je r...
3797     I and @ForestandPaper members are committed to...
Name: OriginalTweet, Length: 3799, dtype: object

In [11]:
df.reset_index(inplace=True)

In [12]:
df['OriginalTweet'][41155:]

41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new/used Rift S are going for ...
41157    TRENDING: New Yorkers encounter empty supermar...
41158    When I couldn't find hand sanitizer at Fred Me...
41159    Find out how you can protect yourself and love...
                               ...
44950    Meanwhile In A Supermarket in Israel -- People...
44951    Did you panic buy a lot of non-perishable item...
44952    Asst Prof of Economics @cconces was on @NBCPhi...
44953    Gov need to do somethings instead of biar je r...
44954    I and @ForestandPaper members are committed to...
Name: OriginalTweet, Length: 3800, dtype: object

In [13]:
df['OriginalTweet'][0]

'@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/iFz9FAn2Pa and https://t.co/xX6ghGFzCC and https://t.co/I2NlzdxNo8'

<br>
_____________________________________________________________________________________________________________________________

In [15]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

PS = PorterStemmer()
corpus = []

for i in range(0, len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['OriginalTweet'][i])
    review = review.lower()
    review = review.split()
    
    review = [PS.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)
    

# Creating the bag of words model

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=25000)
X = cv.fit_transform(corpus).toarray()

In [17]:
y = pd.get_dummies(df['Sentiment'])
y = y.iloc[:,1].values

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)